@charset "UTF-8";

body{
    /* background: darkorange; */
    background:url("fundo2.png") no-repeat; 
}
table {
    width: 100%;
    height: 100%;
    border: 2px solid #3e6e32;
    border-spacing: 0px;
    text-align: center;
    vertical-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    
}

#menu{
   background: #57b449;
   font-size: 12px;
   
}
#menu a{
    color: rgb(255, 255, 255);
    text-decoration: none;  /* tirar o sublinhado do texto*/
}  
#menu a:hover{
 color: #3e6e32; 
 text-decoration: underline;  /* quando passar o mouse ativar a linha*/
} 

td {
    border: 2px solid #3e6e32; 
}
h2 {
    font-size: 18px;
}
h3 {
    font-size: 14px;
}

.rodape{
    background: #abff96;
    color: #2c4e23;
}
.rodape:hover{

text-decoration: underline;

}